n8ntest.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-id",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 240]
    },
    {
      "parameters": {
        "url": "http://localhost:9090/api/v1/query",
        "sendQueryParameters": true,
        "queryParametersUi": {
          "parameter": [
            {
              "name": "query",
              "value": "100 - (avg_over_time(node_cpu_seconds_total{mode=\"idle\"}[2h]) * 100)"
            }
          ]
        }
      },
      "id": "get-avg-cpu-id",
      "name": "Get Avg CPU",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 160]
    },
    {
      "parameters": {
        "url": "http://localhost:9090/api/v1/query",
        "sendQueryParameters": true,
        "queryParametersUi": {
          "parameter": [
            {
              "name": "query",
              "value": "100 - (min_over_time(node_cpu_seconds_total{mode=\"idle\"}[2h]) * 100)"
            }
          ]
        }
      },
      "id": "get-peak-cpu-id",
      "name": "Get Peak CPU",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 320]
    },
    {
      "parameters": {
        "jsCode": "const avgCpuRaw = $('Get Avg CPU').item.json.data.result[0].value[1];\nconst peakCpuRaw = $('Get Peak CPU').item.json.data.result[0].value[1];\n\nreturn [\n  {\n    json: {\n      avg_cpu: parseFloat(avgCpuRaw).toFixed(2) + '%',\n      peak_cpu: parseFloat(peakCpuRaw).toFixed(2) + '%'\n    }\n  }\n];"
      },
      "id": "format-code-id",
      "name": "Format Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 240]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Get Avg CPU",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Peak CPU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Avg CPU": {
      "main": [
        [
          {
            "node": "Format Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Peak CPU": {
      "main": [
        [
          {
            "node": "Format Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}